<footer id="footer" class="maxw66 ml-auto-ns mr-auto-ns border-large-t f5">
  <div class="flex-ns mt2 pa3 pa0-ns">
    <div class="flex-basis-66-ns mt3-m">
      {{#if @config.custom.socialButtons}}
      <div class="flex">
        {{#if @config.custom.socialRSS}}
            <a class="mr2" href="{{@config.custom.socialRSS}}" aria-label="RSS">
              RSS
            </a>
        {{/if}}

        {{#if @config.custom.socialMastodon}}
            <a class="mr2" href="{{@config.custom.socialMastodon}}" aria-label="Mastodon">
              Mastodon
            </a>
        {{/if}}
        {{#if @config.custom.socialDiaspora}}
            <a class="mr2" href="{{@config.custom.socialDiaspora}}" aria-label="Diaspora">
              Diaspora
            </a>
        {{/if}}
        {{#if @config.custom.socialPixelfeed}}
            <a class="mr2" href="{{@config.custom.socialPixelfeed}}" aria-label="Pixelfeed">
              Pixelfeed
            </a>
        {{/if}}
        {{#if @config.custom.socialPeerTube}}
            <a class="mr2" href="{{@config.custom.socialPeerTube}}" aria-label="PeerTube">
              PeerTube
            </a>
        {{/if}}
        {{#if @config.custom.socialFacebook}}
            <a class="mr2" href="{{@config.custom.socialFacebook}}" aria-label="Facebook">
              Facebook
            </a>
        {{/if}}
        {{#if @config.custom.socialTwitter}}
            <a class="mr2" href="{{@config.custom.socialTwitter}}" aria-label="Twitter">
              Twitter
            </a>
        {{/if}}
        {{#if @config.custom.socialInstagram}}
            <a class="mr2" href="{{@config.custom.socialInstagram}}" aria-label="Instagram">
              Instagram
            </a>
        {{/if}}
        {{#if @config.custom.socialLinkedin}}
            <a class="mr2" href="{{@config.custom.socialLinkedin}}" aria-label="LinkedIn">
              LinkedIn
            </a>
        {{/if}}
        {{#if @config.custom.socialVimeo}}
            <a class="mr2" href="{{@config.custom.socialVimeo}}" aria-label="Vimeo">
              Vimeo
            </a>
        {{/if}}
        {{#if @config.custom.socialPinterest}}
            <a class="mr2" href="{{@config.custom.socialPinterest}}" aria-label="Pinterest">
              Pinterest
            </a>
        {{/if}}
        {{#if @config.custom.socialYoutube}}
            <a class="mr2" href="{{@config.custom.socialYoutube}}" aria-label="Youtube">
              Youtube
            </a>
        {{/if}}
      </div>
      {{/if}}
      {{#if @config.custom.footerLeftText}}
        <div class="no-margin">
          {{{@config.custom.footerLeftText}}}
        </div>
      {{/if}}
    </div>
    {{#if @config.custom.copyrightText}}
      <div class="flex-basis-33-ns mt3 mt0-ns tr-ns">
          {{{@config.custom.copyrightText}}}
      </div>
    {{/if}}
  </div>
</footer>
{{{@footerCustomCode}}}
{{{ publiiFooter }}}
</body>
</html>
