<!DOCTYPE html>
<html lang="{{ @website.language }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{#if title}}
      <title>{{title}}</title>
  {{else}}
      <title>{{@website.name}}</title>
  {{/if}}
  {{metaDescription}}
  {{metaRobots}}
  {{canonicalLink}}
  {{feedLink}}
  {{socialMetaTags}}
  {{#if @config.custom.faviconUpload}}
    <link rel="shortcut icon" href="{{@config.custom.faviconUpload}}" type="{{@config.custom.faviconExtension}}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{@website.assetsUrl}}/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{@website.assetsUrl}}/fav/favicon-16x16.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="mask-icon" href="{{@website.assetsUrl}}/fav/safari-pinned-tab.svg" color="#5DD995">
    <meta name="msapplication-TileColor" content="#5DD995">
    <meta name="theme-color" content="#5DD995">
  {{/if}}
  {{#if @pagination}}
    {{#if @pagination.previousPage}}
        <link rel="prev" href="{{@pagination.previousPageUrl }}">
    {{/if}}
    {{#if @pagination.nextPage}}
        <link rel="next" href="{{@pagination.nextPageUrl }}">
    {{/if}}
  {{/if}}
  <link rel="stylesheet" href="{{@website.assetsUrl}}/css/style.css">
  {{jsonLD}}
  {{!-- Insert some custom code by Custom HTML tool --}}
  {{{@headCustomCode}}}
</head>
<body>
  {{!-- Insert some custom code by Custom HTML tool --}}
  {{{@bodyCustomCode}}}
