{{!-- We need to display nav element only at first level --}}
{{#unless level}}
<nav id="menu" class="menu" aria-label="Menu principal">
  <input type="checkbox" id="burgerbutton"/>
  <label for="burgerbutton" class="burgerimage dn-ns" title="Navigation">&#x2630;</label>
{{/unless}}
  <ul{{#if level}} class="submenu list" {{else}} class="flex justify-between-ns pa3 list" {{/if}}>
    {{#each items}}
      <li {{menuItemClasses}}>
        {{#if link}}
        <a class="no-underline" href="{{menuUrl}}"{{#if title}} title="{{title}}"{{/if}}>{{label}}</a>
        {{else}}
        <span{{#if title}} title="{{title}}"{{/if}}>{{label}}</span>
        {{/if}}
        {{#if items}}
        {{> menu}}
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{!-- We need to display nav element only at first level --}}
{{#unless level}}
</nav>
{{/unless}}
