{{#if @pagination}}
   <nav class="maxw66 ml-auto-ns mr-auto-ns flex justify-between mb4 {{@website.postsOrdering}}">
      {{#checkIf @website.postsOrdering '==' "desc"}}
         {{#if @pagination.nextPage}}
            {{#checkIf @website.postsOrdering '==' "desc"}}
               <div>
                  <a href="{{@pagination.nextPageUrl}}">
                     {{ translate 'partials.pagination.prev' }}
                  </a>
               </div>
            {{else}}
               <div>
                  <a href="{{@pagination.nextPageUrl}}">
                     {{ translate 'partials.pagination.next' }}
                  </a>
               </div>
            {{/checkIf}}
         {{/if}}
         {{#if @pagination.previousPage}}
            {{#checkIf @website.postsOrdering '==' "desc"}}
               <div class="pagination__item">
                  <a href="{{@pagination.previousPageUrl}}">
                     {{ translate 'partials.pagination.next' }}
                  </a>
               </div>
            {{else}}
               <div>
                  <a href="{{@pagination.previousPageUrl}}">
                     {{ translate 'partials.pagination.prev' }}
                  </a>
               </div>
            {{/checkIf}}
         {{/if}}
      {{else}}
         {{#if @pagination.previousPage}}
            {{#checkIf @website.postsOrdering '==' "desc"}}
               <div>
                  <a href="{{@pagination.previousPageUrl}}">
                     {{ translate 'partials.pagination.next' }}
                  </a>
               </div>
            {{else}}
               <div>
                  <a href="{{@pagination.previousPageUrl}}">
                     {{ translate 'partials.pagination.prev' }}
                  </a>
               </div>
            {{/checkIf}}
         {{/if}}
         {{#if @pagination.nextPage}}
            {{#checkIf @website.postsOrdering '==' "desc"}}
               <div>
                  <a href="{{@pagination.nextPageUrl}}">
                     {{ translate 'partials.pagination.prev' }}
                  </a>
               </div>
            {{else}}
               <div>
                  <a href="{{@pagination.nextPageUrl}}">
                     {{ translate 'partials.pagination.next' }}
                  </a>
               </div>
            {{/checkIf}}
         {{/if}}
      {{/checkIf}}
   </nav>
{{/if}}
