<header id="top">
  <a href="#main" class="skip-main">{{@config.custom.skipMenu}}</a>
  <div class="logo {{@config.custom.logoPosition}} pa2 pa3-ns">
    <a class="f1 no-underline" href="{{@website.url}}">
      {{#if @config.custom.logoSVG}}
        {{{@config.custom.logoSVG}}}
      {{else}}
        {{#if @website.logo}}
          <img src="{{@website.logo}}" alt="{{@website.name}}">
        {{else}}
          {{@website.name}}
        {{/if}}
      {{/if}}
    </a>
  </div>
  {{#if menus.mainMenu}}
    {{> menu menus.mainMenu}}
  {{/if}}
</header>
