{{> head}}
{{> top}}
  <main>
    <article>
      <div>
         <p>{{ translate 'error.message-2' }}</p>
         <p>
            <a href="{{@website.url}}">
               {{ translate 'error.button' }}</a>
         </p>
      </div>
   </article>

  </main>
{{> footer}}
