{{> head}}
{{> top}}
<main class="maxw66 ml-auto-ns mr-auto-ns pa3 pa0-ns">
    <header>
     <div class="mt4 mb4">
        {{#author}}
           {{#if avatar}}
              <img class="tc" src="{{avatar}}" alt="{{name}}">
           {{/if}}
           <h1 class="f1 tc-ns letter-wide">
              {{name}}
              <sup>({{postsNumber}})</sup>
           </h1>
           {{#if description}}
              <p>{{description}}</p>
           {{/if}}
        {{/author}}
     </div>
    </header>
    {{#each posts}}
       <article class="article mt2 pa1">
          <header>
            <h2 class="mt2 f2 letter-space">
               <a class="no-underline" href="{{url}}">
                  {{title}}
               </a>
            </h2>
          </header>
          <div class="flex-ns">
            <div class="flex-basis-66-ns">
              {{#checkIfAny @config.custom.authorAvatar @config.custom.authorAuthor @config.custom.authorDate}}
                 <div>
                    {{#author}}
                       {{#if @config.custom.authorAuthor}}
                          <a class="f6 no-underline" href="{{url}}">{{name}}</a>
                       {{/if}}
                    {{/author}}
                    {{#if @config.custom.authorDate}}
                       <time class="f6" datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                          {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                             {{date createdAt @config.custom.formatDate}}
                          {{else}}
                             {{date createdAt @config.custom.formatDateCustom}}
                          {{/checkIf}}
                       </time>
                    {{/if}}
                 </div>
              {{/checkIfAny}}
            </div>
            <div class="flex-basis-66-ns">
              {{#if hasCustomExcerpt}}
              <p class="mt0">{{{ excerpt }}}</p>
              {{else}}
              <p class="mt0">{{{ excerpt }}}</p>
              {{/if}}
              {{#if @config.custom.authorReadMore}}
              <a href="{{url}}">
                {{ translate 'post.readMore' }}</a>
                {{/if}}
              </div>
          </div>
       </article>
    {{/each}}
    {{> pagination}}
</main>
{{> footer}}
