{{> head}}
{{> top}}
<main class="pa3 pa3-ns">
  <section class="banner maxw66 ml-auto-ns mr-auto-ns mt3 pa2">
    {{{@config.custom.homepageIntro}}}
  </section>
  {{#if featuredPosts}}
  <section class="maxw66 ml-auto-ns mr-auto-ns mb5">
      <h2 class="ttc border-large-b">{{{@config.custom.homepageFeatureTitle}}}</h2>
          <div class="featured-posts">
            {{#each featuredPosts}}
                {{#checkIf @index '<' 3}}
                  {{!-- With this we can specify how many featured posts are displayed. --}}
                  <article class="article mt2 pa1">
                      <header>
                        <h2 class="f2 tc-ns letter-wide">
                          <a class="no-underline" href="{{url}}">{{title}}</a>
                        </h2>
                      </header>
                      <div class="flex-ns">
                        <div class="flex-basis-33-ns mt0">
                          {{#author}}
                            {{#if @config.custom.frontAvatar}}
                              {{#if avatar}}
                                <img src="{{avatar}}" alt="{{name}}">
                              {{/if}}
                            {{/if}}
                            {{#if @config.custom.frontAuthor}}
                              <a class="f6 no-underline" href="{{url}}">{{name}}</a>
                            {{/if}}
                          {{/author}}
                          <p class="mt0">
                            <time class="f6" datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                              {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                {{date createdAt @config.custom.formatDate}}
                              {{else}}
                                {{date createdAt @config.custom.formatDateCustom}}
                              {{/checkIf}}
                            </time>
                          </p>
                        </div>
                        <div class="flex-basis-66-ns">
                          {{#if excerpt}}
                            <p class="mt0">
                              {{{excerpt}}}
                            </p>
                          {{/if}}
                          {{#if @config.custom.frontReadMore}}
                            <a href="{{url}}">
                              {{ translate 'post.readMore' }}
                            </a>
                          {{/if}}
                        </div>
                      </div>
                  </article>
                {{/checkIf}}
            {{/each}}
          </div>{{!-- .featured-posts --}}
  </section>
  {{/if}}

  <div class="maxw66 ml-auto-ns mr-auto-ns mb4">
    <h2 class="ttc border-large-b">{{{@config.custom.homepageArticleTitle}}}</h2>
    {{#each posts}}
       <article class="article mt2 pa1">
          <header>
            <h3 class="mt2 f3 letter-space">
              <a class="no-underline" href="{{url}}">
                {{title}}
              </a>
            </h3>
          </header>
              {{#checkIfAny @config.custom.frontAvatar @config.custom.frontAuthor @config.custom.frontDate}}
              <div class="flex-ns">
                <div class="flex-basis-33-ns">
                  {{#author}}
                    {{#if @config.custom.frontAvatar}}
                      {{#if avatar}}
                        <img src="{{avatar}}" alt="{{name}}">
                      {{/if}}
                    {{/if}}
                    {{#if @config.custom.frontAuthor}}
                      <a class="f6 no-underline" href="{{url}}">{{name}}</a>
                    {{/if}}
                  {{/author}}
                  <p class="mt0">
                    {{#if @config.custom.frontDate}}
                      <time class="f6" datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                        {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                          {{date createdAt @config.custom.formatDate}}
                        {{else}}
                          {{date createdAt @config.custom.formatDateCustom}}
                        {{/checkIf}}
                      </time>
                    {{/if}}
                  </p>
                </div>
              {{/checkIfAny}}
              <div class="flex-basis-66-ns">
                 {{#if hasCustomExcerpt}}
                    <p class="mto">{{{ excerpt }}}</p>
                 {{else}}
                    <p class="mt0">{{{ excerpt }}}</p>
                 {{/if}}
                 {{#if @config.custom.frontReadMore}}
                    <a href="{{url}}">
                       {{ translate 'post.readMore' }}</a>
                 {{/if}}
              </div>
            </div>
       </article>
    {{/each}}
  </div>
  {{> pagination}}
</main>

{{> footer}}
