{{> head}}
{{> top}}
  <main class="maxw66 ml-auto-ns mr-auto-ns pa3 pa0-ns">
    {{#post}}
       <article class="measure-wide-plus ml-auto-ns mr-auto-ns mt4 mb2">
         <header>
          <h1 class="mt2 mb2 mb0-ns pa0 pa4-ns f1 tc-ns letter-space">{{title}}</h1>
          <div class="flex justify-between pa1 limit-640">
            {{#if @config.post.displayAuthor}}
             <div>
              {{#author}}
                 <a href="{{url}}">{{name}}</a>
              {{/author}}
             </div>
             {{/if}}
            {{#if @config.post.displayDate}}
              <div>
                 <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                    {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                       {{date createdAt @config.custom.formatDate}}
                    {{else}}
                       {{date createdAt @config.custom.formatDateCustom}}
                    {{/checkIf}}
                 </time>
              </div>
            {{/if}}
            {{#if @config.post.displayTags}}
              {{#if tags}}
                 <ul class="list ma0">
                    {{#each tags}}
                       <li>
                          <a href="{{url}}">{{name}}</a>
                       </li>
                    {{/each}}
                 </ul>
              {{/if}}
            {{/if}}
           </div>
         </header>

          <div class="limit-para">
            {{{text}}}
          </div>

          {{#checkIfAny @config.post.displayLastUpdatedDate @config.post.displayTags @config.post.displayShareButtons @config.post.displayAuthorBio}}
             <footer class="limit-640">
                {{#if @config.post.displayLastUpdatedDate}}
                   {{#if modifiedAt}}
                      <p>
                         {{ translate 'post.lastUpdatedDate' }}
                         {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                            {{date modifiedAt @config.custom.formatDate}}
                         {{else}}
                            {{date modifiedAt @config.custom.formatDateCustom}}
                         {{/checkIf}}
                      </p>
                   {{/if}}
                {{/if}}
             </footer>
          {{/checkIfAny}}
       </article>

       {{#if @config.post.displayPostNavigation}}
          {{#checkIfAny ../previousPost ../nextPost}}
             <nav class="limit-640 pa2 mt2 border-light-bt">
                <div class="flex justify-between">
                   {{#../previousPost}}
                      <div>
                         <a href="{{url}}" rel="prev">
                            <span>{{ translate 'post.previousPost' }}</span>
                            {{title}}
                         </a>
                      </div>
                   {{/../previousPost}}
                   {{#../nextPost}}
                      <div>
                         <a href="{{url}}" rel="next">
                            <span>{{ translate 'post.nextPost' }}</span>
                            {{title}}
                         </a>
                      </div>
                   {{/../nextPost}}
                </div>
             </nav>
          {{/checkIfAny}}
       {{/if}}

       {{#if @config.post.displayRelatedPosts}}
          {{#if ../relatedPosts}}
             <div class="limit-640 mt4 mb4">
                <div>
                 <h3 class="mb2">
                    {{ translate 'post.relatedPosts' }}
                 </h3>
                 {{#each ../relatedPosts}}
                    <article>
                       <div>
                         <h4 class="mt0">
                           <a class="f4" href="{{url}}">
                             {{title}}
                           </a>
                         </h4>
                          <time class="f6" datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                             {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                {{date createdAt @config.custom.formatDate}}
                             {{else}}
                                {{date createdAt @config.custom.formatDateCustom}}
                             {{/checkIf}}
                          </time>
                       </div>
                    </article>
                 {{/each}}
                </div>
             </div>
          {{/if}}
       {{/if}}

       {{#if @config.post.displayComments}}
          <div>
            <h2>
               {{ translate 'post.comments' }}
            </h2>
            {{> comments}}
          </div>
         {{/if}}

       {{#if @customHTML.afterPost}}
          <div>
             <div>
                {{{@customHTML.afterPost}}}
             </div>
          </div>
       {{/if}}

    {{/post}}
  </main>
{{> footer}}
