{{> head}}
{{> top}}
<main>
   <article>
      <div>
        {{! @TODO if search google + alt}}
         <form action="{{@website.searchUrl}}">
            <input
               type="search"
               name="{{@config.custom.searchParam}}"
               placeholder="{{ translate 'search.placeholder' }}"
               class="search-page__input"/>
            <button type="submit">{{ translate 'search.submit' }}</button>
         </form>

         <script>
            (function () {
               var cx = '{{@config.custom.searchId}}';
               var gcse = document.createElement('script');
               gcse.type  = 'text/javascript';
               gcse.async = true;
               gcse.src   = 'https://cse.google.com/cse.js?cx=' + cx;
               var s = document.getElementsByTagName('script')[0];
               s.parentNode.insertBefore(gcse, s);
            })();
         </script>
         <gcse:searchresults-only></gcse:searchresults-only>
      </div>
   </article>
</main>

{{> footer}}
