{{> head}}
{{> top}}
  <main class="maxw66 ml-auto-ns mr-auto-ns pa3 pa0-ns">
    <div class="measure-wide-plus ml-auto-ns mr-auto-ns mt4 mb2">
        {{#tag}}
            <h1 class="f2 pa3 pa0-ns">
                {{name}}
                <sup>({{postsNumber}})</sup>
            </h1>
            <hr class="mb3">
            {{#if description}}
                <p>
                    {{description}}
                </p>
            {{/if}}
        {{/tag}}
    </div>{{!-- .page-header --}}
   {{#each posts}}
    <article class="article measure-wide-plus ml-auto-ns mr-auto-ns">
       <header>
          <h2 class="f3 letter-space">
           <a class="no-underline" href="{{url}}">
              {{title}}
           </a>
          </h2>
         </header>
         <section>
           <div class="flex-ns">
           {{#checkIfAny @config.custom.frontAvatar @config.custom.frontAuthor @config.custom.frontDate}}
              <div class="flex-basis-33-ns mt0">
                 {{#author}}
                    {{#if @config.custom.frontAuthor}}
                       <a class="f6 no-underline" href="{{url}}">{{name}}</a>
                    {{/if}}
                 {{/author}}
                 {{#if @config.custom.frontDate}}
                  <time class="f6" datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                     {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                        {{date createdAt @config.custom.formatDate}}
                     {{else}}
                        {{date createdAt @config.custom.formatDateCustom}}
                     {{/checkIf}}
                  </time>
                 {{/if}}
              </div>
           {{/checkIfAny}}
           </div>
           <div class="flex-basis-66-ns">
              {{#if hasCustomExcerpt}}
                 {{{ excerpt }}}
              {{else}}
                 <p>{{{ excerpt }}}</p>
              {{/if}}
              {{#if @config.custom.frontReadMore}}
                 <a href="{{url}}">
                    {{ translate 'post.readMore' }}</a>
              {{/if}}
           </div>
         </section>
      </article>
   {{/each}}
   <div class="measure-wide-plus ml-auto-ns mr-auto-ns mt3">
     {{> pagination}}
   </div>
  </main>
{{> footer}}
